/* Regular */
@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/NEXONLv1GothicRegular.woff2') format('woff2');
}

/* Light */
@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/NEXONLv1GothicLight.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/NEXONLv1GothicBold.woff2') format('woff2');
}
